/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: rgb(0, 0, 0);
  background: #ecf5ff;
}

header {
  background: #13121f;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: rgb(0, 217, 255);
  text-align: center;
}

h2 {
  font-size: 24px;
}

a {
  color: rgb(0, 217, 255);
}

/* Selecting elements by class */
.container {
  width: 1024px;
  margin: 0 auto;
}

/* Selecting elements by ID */
#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#figure {
  position: relative;
}

#bio-name {
  position: absolute;
  top: -35px;
  left: 220px;
  color: rgb(0, 217, 255);
}

#main-bio {
  width: 60%;
}

#contact-info {
  width: 30%;
}

#bio-image {
  width: 200px;
  height: 320px;
  margin-right: 20px;
}
